@import 'tailwindcss';
@import "fadgram-ui";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/talalalmrka/fgx/resources/views/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: Poppins, sans-serif;
}

@layer base {
    body {
        @apply relative font-poppins antialiased;
        @apply text-gray-700 dark:text-gray-100;
        @apply bg-white dark:bg-gray-900;
    }

    pre {
        background-color: #f5f5f5;
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
        font-family: monospace;
        font-size: 0.75rem;
        line-height: 1.5;
        color: #333;
    }
}

@layer components {

    .dashboard-sidebar {
        .nav-link {
            @apply pill;

            &.active,
            &:hover {
                @apply bg-black/20 text-white transition-colors;
            }
        }
    }

    .start-icon,
    .end-icon {
        @apply text-gray-600 dark:text-gray-300;
    }

}